@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8FAFC; /* slate-50 */
  color: #0F172A; /* slate-900 */
}